<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    {{each data}}
    <title>{{$value.title}}-广东新创意科技有限公司</title>
    {{/each}}
    <link rel="shortcut icon" href="../public/images/logo.ico"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <!-- 头部样式 -->
    <link rel="stylesheet" href="../public/css/header/header.css">
    <!-- 脚步样式 -->
    <link rel="stylesheet" href="../public/css/footer/footer.css">
    <link rel="stylesheet" href="../public/css/iconfont2.css">
    <!-- 本体样式 -->
    <link rel="stylesheet" href="../public/css/news/news_1.css">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
    </style>

</head>

<body>
    {{include './header.html'}}
    <div class="newsbody">
        <div class="container">
            <div class="row">
                <div class="left col-md-9 col-lg-9">
                    {{each data as a}}
                    <div class="row">
                        <div class="left-1 col-xs-12">
                            <span>{{a.title}}</span>
                        </div>
                        <div class="left-2 col-xs-12">
                            <span>{{a.date}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="left-3 col-xs-12">
                            {{@a.a}}
                        </div>
                      
                        <div class="left-4 col-xs-12">
                            <span class="item">
                                {{each intro as b i}}
                                 {{if b.cid==a.cid-1}}
                                <a class="up" href="newsdetail?id={{b.cid}}&&fid={{b.fid}}">
                                    <span>上一篇：</span>
                                    <span>{{b.title}}</span>
                                </a> 
                                {{/if}}
                                {{/each}}
                            </span>
                            <span class="item">
                                {{each intro as b i}}
                                {{if b.cid==a.cid+1}}
                                <a class="next" href="newsdetail?id={{b.cid}}&&fid={{b.fid}}">
                                    <span>下一篇：</span>
                                    <span>{{b.title}}</span>
                                </a>
                                {{/if}}
                                {{/each}}
                            </span>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="right col-md-3 col-lg-3">
                    <div class="row">
                        <div class="top col-xs-12">
                            <p>相关推荐</p>
                        </div>
                    </div>
                    <div class="row">
                        {{each intro as b i}}
                        {{if i>=0&&i<=3}}
                        <div class="right-1 col-xs-6 col-sm-4 col-md-12 mar">
                            <div class="r1">
                                <a href="newsdetail?id={{b.cid}}&&fid={{b.fid}}">
                                    <img src="{{b.src}}" alt="">
                                </a>
                            </div>
                            <div class="r2">
                                <a href="#">
                                    <span class="j1">{{b.title}}</span>
                                </a>
                            </div>
                            <div class="r3">
                                <span class="j2">{{b.introduce}}</span>
                            </div>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{include './footer.html'}}
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
    <script src="../public/js/header1.js"></script>
</body>

</html>
<script>
    $(function () {
        var $a = $(".navbar-nav>li>a");
        $a.attr("class", "");
        $("#02").attr("class", "activee");
        $('.j1').each(function () {
            var str = $(this).text().substring(0,10) + "...";
            $(this).text(str);
        })
        $('.j2').each(function () {
            var str = $(this).text().substring(0,35) + "...";
            $(this).text(str);
        })

       
    })
</script>