<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>行业咨询-广东新创意科技有限公司</title>
    <link rel="shortcut icon" href="../public/images/logo.ico"/>

    <link rel="stylesheet" href="../public/css/bootstrap.css" />
    <link rel="stylesheet" href="../public/css/news/news.css" />

    <!-- 头部样式 -->
    <link rel="stylesheet" href="../public/css/header/header.css">
    <!-- 脚步样式 -->
    <link rel="stylesheet" href="../public/css/footer/footer.css">
    <link rel="stylesheet" href="../public/css/iconfont2.css">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
        <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
      <![endif]-->

    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            font-family: none;
        }
    </style>
</head>

<body>
    {{include './header.html'}}
    <section>
        <div class="container">
            <div class="row">
                <div class="u">
                    <ul>
                        <li class="col-xs-6 col-sm-4"><a href="newsStd_1">公司新闻</a></li>
                        <li class="col-xs-6 col-sm-4 aa"><a href="newsStd_2">行业咨询</a></li>
                        <li class="col-xs-6 col-sm-4"><a href="newsStd_3">媒体报道</a></li>
                    </ul>
                </div>
                {{each data as a}}
                <div class="box">
                    <div class="row">
                        <!-- hidden-sm hidden-md hidden-lg -->
                        <div class="s0 col-sm-2">
                            <span class="font1">{{a.year}}</span><span class="font1 visible-xs-inline">-</span>
                            <span class="font2">{{a.date}}</span>
                        </div>
                        <div class="col-sm-7">
                            <div class="s1 "><a href="newsdetail?id={{a.cid}}&&fid={{a.fid}}">{{a.title}}</a></div>
                            <div class="s2">
                                {{a.introduce}}
                            </div>

                        </div>
                        <div> <a href="newsdetail?id={{a.cid}}&&fid={{a.fid}}"><img src="{{a.src}}" class="img col-sm-3 col-xs-12"></a></div>

                    </div>
                    <a href="newsdetail?id={{a.cid}}&&fid={{a.fid}}">
                        <p class="img2"></p>
                    </a>
                    <div class="div0"></div>
                    <div class="div1"></div>
                </div>
                {{/each}}


            </div>
            <div class="but visible-xs-block">
                <input type="button" value="加载更多">
            </div>
            <div class="but hidden-xs">
                <ul>
                    <li><a type="javascrip">共1页</a></li>
                    <li><a href="newsStd_2">首页</a></li>
                    <li><a href="newsStd_2" id="last">上一页</a></li>
                    <li><a href="newsStd_2" class="act">1</a></li>
                    <li><a href="newsStd_2" id="next">下一页</a></li>
                    <li><a href="newsStd_2">尾页</a></li>
                </ul>
            </div>
        </div>
    </section>
    {{include './footer.html'}}
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
    <script src="../public/js/header1.js"></script>
</body>
<script>
    $(function () {
        var $a = $(".navbar-nav>li>a");
        $a.attr("class", "");
        $("#02").attr("class", "activee");
        if ("{{fen}}" == 2) {
            $('.but li a').attr('class', '')
            $('.but li #a2').attr('class', 'act')
            $("#last").attr("href", "newsStd")
            $("#next").attr("href", "newsStdt3")
            console.log(2)
        }
        if ("{{fen}}" == 3) {
            $('.but li a').attr('class', '')
            $('.but li #a3').attr('class', 'act')
            $("#last").attr("href", "newsStdt2")
            $("#next").attr("href", "newsStdt3")
            console.log(3)
        }


    })
</script>

</html>