<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>站点地图-广东新创意科技有限公司</title>
    <link rel="shortcut icon" href="../public/images/logo.ico"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/header/header.css">
    <link rel="stylesheet" href="../public/css/footer/footer.css">
    <link rel="stylesheet" href="../public/css/iconfont2.css">
    <link rel="stylesheet" href="../public/css/contact/sitemap.css">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
    </style>

</head>

<body>
    {{include './header.html'}}
    <div class="map">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 top">
                    <div class="a1">网站地图</div>
                    <div class="a2">Site Map</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 but">
                    <ul class="menu1">
                        <li>
                            <div class="b1"><a href="../about_1"><span>关于我们</span></a></div>
                            <ul class="menu2">
                                <li><a href="../about_2"><span>公司简介</span></a></li>
                                <li><a href="../about_3"><span>企业文化</span></a></li>
                                <li><a href="../about_4"><span>技术团队</span></a></li>
                                <li><a href="../about_5"><span>资质荣誉</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="menu1">
                        <li>
                            <div class="b1"><a href="../news/newsStd"><span>新闻资讯</span></a></div>
                            <ul class="menu2">
                                <li><a href="../news/newsStd_1"><span>公司新闻</span></a></li>
                                <li><a href="../news/newsStd_2"><span>行业资讯</span></a></li>
                                <li><a href="../news/newsStd_3"><span>媒体报道</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="menu1">
                        <li>
                            <div class="b1"><a href="../pro/product_cen"><span>产品中心</span></a></div>
                            <ul class="menu2">
                                <li><a href="../pro/product_cen1"><span>超薄热管</span></a></li>
                                <li><a href="../pro/product_cen2"><span>常规热管</span></a></li>
                                <li><a href="../pro/product_cen3"><span>均热板VC</span></a></li>
                                <li><a href="../pro/product_cen4"><span>方形热管</span></a></li>
                                <li><a href="../pro/product_cen5"><span>大管径热管</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="menu1">
                        <li>
                            <div class="b1"><a href="../news/clients"><span>微热管技术</span></a></div>
                            <ul class="menu2">
                                <li><a href="../news/clients1"><span>相关论著</span></a></li>
                                <li><a href="../news/clients2"><span>热管散热方案</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="menu1">
                        <li>
                            <div class="b1"><a href="../contactus1"><span>联系我们</span></a></div>
                            <ul class="menu2">
                                <li><a href="../contactus2"><span>联系我们</span></a></li>
                                <li><a href="../contactSt"><span>职位招聘</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{include './footer.html'}}
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
    <script src="../public/js/header1.js"></script>
</body>
<script>
    $(function(){
        var $a = $(".navbar-nav>li>a");
        $a.attr("class", "");
        $(".footer1").css("display","none")
    })
</script>
</html>