body{
    margin: 0px;
    padding: 0px;
    height: 2000px;
}
    #l{
        margin-left: 10px;
        margin-top: 460px;
        width: 260px;
        height: 40px;
        background-color: #00509c;
        line-height: 37px;
        color: seashell;
        text-align: center;
    }
    #l1{
        
            width: 260px;
            height: 40px;
            background-color:silver;
            text-align: center;
            line-height: 37px;
            color: seashell;
            margin-top:-40px;
            margin-left: 300px;
            
       
    }
    #l2{
        background-image: url(../images/项目精灵图.PNG) ;
        height: 407px;
        width: 695px;
        position: absolute;
        top: 500px;
        left: 10px;
    }
    #l3{
        margin-left: 220px;
        margin-top: 410px;
        font-size: 25px;
    }
    #ll{
        position: absolute;
        top:960px;
        left: 10px;
        width: 550px;
        height: 38px;
    }
    #ll1{
        position: absolute;
        top:1010px;
        left: 10px;
        width: 550px;
        height: 38px;
    }
    #ll2{
        position: absolute;
        top:1060px;
        left: 10px;
        width: 550px;
        height: 38px;
    }
    #ll3{
        position: absolute;
        top:1110px;
        left: 10px;
        width: 550px;
        height: 80px;
      }
      #ll4{
        width: 280px;
        height: 40px;
        background-color: #00509c;
        position: absolute;
        text-align: center;
        line-height: 37px;
        color: seashell;
        top: 1200px;
        left: 10px;
    }
    #dituContent{
        position: absolute;
        left: 10px;
        top: 1300px;
        width: 300px;
        height: 300px;
    }
    a{
        text-decoration:none;
        color: white;
    }
    a:link{
        text-decoration: none;
    }