.footer {
  padding-bottom: 30px;
  padding-top: 45px;
  background-color: #00509c;
  border-bottom: 1px solid #6696c3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer .container .row .left img {
  margin-bottom: 61px;
}
.footer .container .row .left div {
  padding: 5px;
  margin-top: 2px;
  margin-left: -10px;
}
.footer .container .row .left div a {
  margin: 0 3px;
  text-decoration: none;
}
.footer .container .row .left div a span {
  font-size: 40px;
  color: #4e82b3;
}
.footer .container .row .left div a:hover span {
  color: #063f79;
}
.footer .container .row .middle .middle-top {
  color: white;
  font-size: 18px;
  padding-bottom: 25px;
}
.footer .container .row .middle .middle-bottom p {
  color: white;
  font-size: 14px;
}
.footer .container .row .right {
  text-align: right;
}
.footer .container .row .right div {
  display: inline-block;
}
.footer .container .row .right div:last-child {
  width: 130px;
  text-align: center;
}
.footer .container .row .right div:last-child span {
  font-size: 14px;
  color: white;
  line-height: 25px;
}
.footer-bottem {
  background-color: #00509c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-bottem .container .row .s1 {
  width: 313px;
  line-height: 60px;
  color: #ffffff;
  opacity: 0.4;
  padding: 0;
}
.footer-bottem .container .row .s2 {
  line-height: 60px;
  padding: 0;
  margin: 0 15px;
  width: 340px;
}
.footer-bottem .container .row .s2 a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.4;
}
.footer-bottem .container .row .s2 a:hover {
  opacity: 1;
}
.footer-bottem .container .row .s3 {
  line-height: 60px;
  color: #ffffff;
  opacity: 0.4;
  padding: 0;
}
.footer-bottem .container .row .s3.col-sm-3 {
  width: 200px;
}
.footer-bottem .container .row .s4 {
  line-height: 60px;
  float: right;
}
.footer-bottem .container .row .s4 a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.4;
}
.footer-bottem .container .row .s4 a:hover {
  opacity: 1;
}
.footer-bottem .container .row .s4.col-sm-1 {
  width: 60px;
  padding: 0;
}
@media screen and (max-width: 992px) {
  .footer-bottem .container .row .s4 {
    line-height: 60px;
    float: left;
  }
  .footer-bottem .container .row .s4 a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.4;
  }
  .footer-bottem .container .row .s4 a:hover {
    opacity: 1;
  }
  .footer-bottem .container .row .s4.col-sm-1 {
    width: 60px;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    background-color: #08132c;
    border: none;
    padding-bottom: 0px;
    padding-top: 20px;
  }
  .footer .container .row .middle .middle-top {
    color: white;
    font-size: 16px;
    padding-bottom: 5px;
    opacity: 0.5;
  }
  .footer .container .row .middle .middle-bottom p {
    color: white;
    font-size: 12px;
    opacity: 0.5;
  }
  .footer-bottem {
    background-color: #08132c;
  }
  .footer-bottem .container .row {
    font-size: 12px;
  }
  .footer-bottem .container .row .s1 {
    width: 100%;
    line-height: 25px;
    color: #ffffff;
    opacity: 0.5;
    padding: 0;
    padding-left: 15px;
  }
  .footer-bottem .container .row .s2 {
    line-height: 25px;
    padding-left: 15px;
    display: inline-block;
    width: 310px;
    margin: 0;
  }
  .footer-bottem .container .row .s2 a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
  }
  .footer-bottem .container .row .s2 a:hover {
    opacity: 0.5;
  }
  .footer-bottem .container .row .s3 {
    display: inline-block;
    line-height: 25px;
    color: #ffffff;
    opacity: 0.5;
    padding: 0;
  }
  .footer-bottem .container .row .s4 {
    line-height: 25px;
    float: none;
    margin-left: 15px;
  }
  .footer-bottem .container .row .s4 a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
  }
  .footer-bottem .container .row .s4 a:hover {
    opacity: 0.5;
  }
}
