.header-top {
  background-color: white;
  margin-bottom: 0;
  min-height: 50px;
}
.header-top .container {
  padding: 0;
}
.header-top .container .navbar-header .navbar-toggle .icon-bar {
  background-color: #888;
}
.header-top .container .navbar-header > a {
  padding-top: 0;
}
.header-top .container .navbar-header > a img {
  width: 210px;
  height: 47px;
}
@media screen and (min-width: 768px) {
  .header-top .container .navbar-header > a {
    padding-top: 28px;
  }
  .header-top .container .navbar-header > a img {
    width: 210px;
    height: 47px;
  }
}
@media screen and (min-width: 992px) {
  .header-top .container .navbar-header > a {
    padding-top: 28px;
  }
  .header-top .container .navbar-header > a img {
    width: 380px;
    height: 44px;
  }
}
.header-top .container .dh .right {
  padding-top: 10px;
  display: inline-block;
}
.header-top .container .dh .right a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .header-top .container .dh .right {
    padding-top: 36px;
  }
}
.banner {
  overflow: hidden;
}
.navbar-nav > li > ul {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-top {
    min-height: 100px;
  }
}
.navbar-nav > li > a {
  height: 50px;
  color: black;
  font-size: 16px;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: white;
}
@media screen and (min-width: 768px) {
  .navbar-nav > li > a {
    height: 100px;
    color: black;
    font-size: 16px;
    padding-left: 5px;
    position: relative;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    background-color: white;
  }
  .navbar-nav > li > a span {
    display: inline-block;
    padding-bottom: 10px;
    height: 30px;
    margin-top: 22px;
  }
  .navbar-nav > li > a span:hover {
    color: #00509c;
  }
  .navbar-nav > li > a.activee span {
    color: #00509c;
    border-bottom: 2px solid #00509c;
    font-weight: 700;
  }
  .navbar-nav > li ul {
    padding: 0;
    position: absolute;
    list-style: none;
    background-color: #ffffff;
    top: 100px;
    left: 0px;
    font-size: 14px;
    line-height: 35px;
    z-index: 100;
  }
  .navbar-nav > li ul li {
    border-top: 1px solid #e9e9e9;
  }
  .navbar-nav > li ul li a {
    text-decoration: none;
    color: #333333;
    padding: 0 10px;
  }
  .navbar-nav > li ul li:hover {
    background-color: #00509c;
  }
  .navbar-nav > li ul li:hover a {
    color: white;
  }
  .navbar-nav > li ul li .a2 {
    padding: 0 6px;
  }
  .navbar-nav > li ul li .a3 {
    padding: 0 0px;
  }
}
@media screen and (min-width: 992px) {
  .navbar-nav > li > a {
    height: 100px;
    color: black;
    font-size: 16px;
    padding-right: 15px;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    background-color: white;
  }
  .navbar-nav > li > a span {
    display: inline-block;
    padding-bottom: 10px;
    height: 30px;
    margin-top: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-nav > li > a {
    height: 100px;
    color: black;
    font-size: 16px;
    margin-left: 3px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    background-color: white;
  }
  .navbar-nav > li > a.active span {
    color: #00509c;
    border-bottom: 2px solid #00509c;
  }
  .navbar-nav > li > a span {
    display: inline-block;
    padding-bottom: 10px;
    height: 30px;
    margin-top: 22px;
  }
  .navbar-nav > li ul li a {
    text-align: center;
    padding: 0 25px;
  }
  .navbar-nav > li ul li .a1 {
    padding: 0 22px;
  }
  .navbar-nav > li ul li .a2 {
    padding: 0 18px;
  }
  .navbar-nav > li ul li .a3 {
    padding: 0 10px;
  }
}
.banner .container-fluid {
  padding: 0;
}
.banner .container-fluid img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .banner {
    position: relative;
    z-index: -1;
  }
  .banner .container-fluid {
    padding: 0;
  }
  .banner .container-fluid img {
    width: 1920px;
    height: 450px;
    position: relative;
    z-index: -1;
  }
}
.footer1 {
  border-bottom: 1px solid #e9e9e9;
}
.footer1 .container {
  color: #999999;
  font-size: 12px;
  margin: 15px auto;
  padding: 0;
}
.footer1 .container a {
  color: #999999;
  text-decoration: none;
}
.footer1 .container a:hover {
  color: #00509c;
}
.footer1 .container span {
  margin: 0 3px;
}
