<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>企业文化-广东新创意科技有限公司</title>
    <link rel="shortcut icon" href="../public/images/logo.ico"/>
    <link rel="stylesheet" href="../public/css/bootstrap.css" />
    <link rel="stylesheet" href="../public/css/bootstrap.css.map" />
    <link rel="stylesheet" href="../public/css/infom/infom2.css" />
    <!-- 头部样式 -->
    <link rel="stylesheet" href="../public/css/header/header.css">
    <!-- 脚步样式 -->
    <link rel="stylesheet" href="../public/css/footer/footer.css">
    <link rel="stylesheet" href="../public/css/iconfont2.css">
    <style></style>
  </head>

  <body>
    {{include './header.html'}}
    <div class="about3">
      <div class="container">
        <div class="row">
          <div class="uu">
            <ul>
              <li class="col-xs-6"><a href="about_2">公司简介</a></li>
              <li class="col-xs-6" style="background-color: #00509c;"><a href="about_3" style="color: white;">企业文化</a></li>
              <li class="col-xs-6"><a href="about_4">技术团队</a></li>
              <li class="col-xs-6"><a href="about_5">资质荣誉</a></li>
            </ul>
          </div>
          <div>
            <div class="bm">
              <image src="../public/images/culture.jpg" class="col-xs-12" />
            </div>
          </div>
          <div class="box">
            <div class="outline0"><p>公司概述</p></div>
            <div class="outline1">
              <p>
                广东新创意科技有限公司（NIT）专注于高品质、多品种与特种热管设计制造；热管散热方案设计及工业节能技术开发及应用；先进热管制造装备及工业专用机器人设计制造及应用。新创意公司近年不仅在企业经营领域取得了巨大发展，也形成了良好的企业文化。因为新创意人深知，资源是会枯竭的，唯有文化才能生生不息。在企业物质资源十分有限的情况下，只有靠文化资源，靠精神和文化的力量，才能战胜困难，获得发展。
              </p>
            </div>
            <div class="line"></div>
            <div class="outline0"><p>公司核心价值观</p></div>
            <div class="outline1">
              <p>
                广东新创意科技有限公司“以品质为基础、以客户为中心，以勤奋者为本”作为自己公司的核心价值观，以勤奋、进取、忠于公司和职业操守的员工为公司发展的根本，以创造高品质的产品为基础，满足客户的最终需求。
              </p>
              <p>忠诚：忠于本职工作、忠于公司、忠于客户；</p>
              <p>和谐：员工关系和谐、客户关系和谐；</p>
              <p>
                勤奋：新创意公司坚信，唯有勤奋、进取才能赢得客户的尊重和信赖；也方能回馈自己、成就自己；
              </p>
              <p>求知：积极进取，不断学习，勇于开拓，坚持开放与创新。</p>
            </div>
            <div class="line"></div>
            <div class="outline0"><p>公司愿景使命</p></div>
            <div class="outline1">
              <p>
                愿景：清凉世界、节能减排；
                使命：聚焦客户关注的挑战和压力，提供有竞争力的热管、设备、方案和服务，持续为客户创造最大价值。
              </p>
            </div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
    {{include './footer.html'}}
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
      integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
      crossorigin="anonymous"
    ></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
    <script src="../public/js/header1.js"></script>
  </body>
  <script>
      var $a = $(".navbar-nav>li>a");
        $a.attr("class", "");
        $("#01").attr("class", "activee");
  </script>
</html>
