<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>关于我们-广东新创意科技有限公司</title>
  <link rel="shortcut icon" href="../public/images/logo.ico"/>
  <link rel="stylesheet" href="../public/css/bootstrap.css" />
  <link rel="stylesheet" href="../public/css/bootstrap.css.map" />
  <link rel="stylesheet" href="../public/css/infom/infom1.css" />
  <link rel="stylesheet" href="../public/css/swiper-bundle.min.css">
  <!-- 头部样式 -->
  <link rel="stylesheet" href="../public/css/header/header.css">
  <!-- 脚步样式 -->
  <link rel="stylesheet" href="../public/css/footer/footer.css">
  <link rel="stylesheet" href="../public/css/iconfont2.css">
  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body>
  {{include './header.html'}}
  <div class="about1">
    <div class="container">
      <div class="row">

        <div class="uu">
          <ul>
            <li class="col-xs-6"><a href="about_2">公司简介</a></li>
            <li class="col-xs-6"><a href="about_3">企业文化</a></li>
            <li class="col-xs-6"><a href="about_4">技术团队</a></li>
            <li class="col-xs-6"><a href="about_5">资质荣誉</a></li>
          </ul>


        </div>

        <div class="row">
          <!-- col-sm-2的意思是： 在768px屏幕以上，每个div占据2份；768屏幕以下，每个div占满 -->
          <div class=" col-sm-5 col-xs-12">
            <div class="left">
              <img src="../public/images/121.jpg" class=" col-sm-5 col-xs-12">
            </div>
          </div>
          <div class=" col-sm-7 col-xs-12">
            <div class="right">
              <span class="r1">公司简介</span>
              <p>
                <span>
                  广东新创意科技有限公司（以下简称“公司”）成立于1996年,
                  为国家高新技术企业、广东省知识产权示范企业、广州科技小巨人企业，
                  获得国家科学技术进步二等奖、广东省科学技术一等奖，多年来一直致力于高效热控制技术研发，
                  拥有设计制造热管生产成套装备的专利技术，为国内可自主建造微热管生产线并进行微热管研发、生产及热方案设计的企业。
                </span>
              </p>

              <span>
                总部于2006年初进驻广东省生产力促进中心的科技企业孵化基地，2019年在肇庆国家级高新区设立大型生产基地进一步扩大企业规模。</span>

              <p>
                <span>
                  公司长期与华南理工大学、广州工业大学、香港科技大学等高校开展产学研合作，
                  拥有省级产学研科技特派员工作站，形成了一支技术精湛、经验丰富的技术团队，
                  技术团队带头人为热控制与热管技术应用领域专家、华工博士生导师李勇教授，并聘请英国University
                  of Nottingham的YUYING
                  YAN教授作为外方技术顾问，进行海外市场开拓。
                </span>
              </p>
              <p>
                <span>
                  公司与中国移动南方基地合作实现数据中心精准高效散热，该技术经工信部组织的科技成果鉴定具有“国际领先水平”；
                  为中国中车提供大直径热管生产成套技术设备及热管产品；为日本新干线IGBT散热用热管的独家供应商；
                  与中国一汽集团、英国诺丁汉大学开展基于热管的新能源汽车电池热管理系统技术研究；
                  同时在热管及其装备制造技术方面也居于国内领先、国际先进水平。
                </span>
              </p>
              <p style="height: 30px;" class="hidden-xs"></p>
            </div>
          </div>
        </div>

        <div class="honor">
          <p class="h"><span>公司所获得荣誉与重大成果</span></p>
          <p class="h0"><span>HONORS AND ACHIEVEMENTS</span></p>
          <div class="h1">
            <p>2010年，与华南理工大学共同研发获得广东省科技进步一等奖</p>
            <p>
              2014年攻克中日高铁核心IGBT热控制难题，为中国中车提供大直径热管生产成套技术设备及热管产品，与国际顶级热管制造企业的激烈竞争中脱颖而出，成为日本高铁（包括新干线和东铁）
              IGBT散热用热管的独家供应商。
            </p>
            <p>
              2015年，公司在国内率先研发出面向手机散热用的超薄微热管（厚度0.4mm），并实现商用，客户包括三星、华为、联想和魅族等多家手机厂商。
            </p>
            <p>
              2016年，公司技术成果获得国家科学技术进步二等奖，被评为高新技术企业，同年，与中国移动南方基地联合设计开发的水冷型热管散热系统实现服务器“精准冷却”，使得数据中心机房
              PUE<1.2（节能40%以上），项目成果“数据中心液 /气双通道精准高效制冷系统关键技术及应用”成果被工信部鉴定为“国际领先水平”。 </p>
                <p>2019年，再次被评为国家级高新技术企业。</p>
                <p>
                  2020年，拥有自主研发专利50余项，其中发明专利6项，被评为广东省知识产权示范企业。
                </p>
          </div>
        </div>
      </div>
    </div>
    <div class="partner row">
      <div class="p0 col-xs-12">
        <div>
          <p class="p1"><span>合作伙伴</span></p>
          <p class="p2"><span>PARTNER</span></p>
        </div>
        <div>
          <p class="p3">暂无数据</p>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="row imgs">
          <div class="qual">
            <p class="q1">资质荣誉</p>
            <p class="q2">QUALIFICATION HONOR</p>
          </div>
          <div class="hidden-xs">
            <div class="col-sm-3 col-xs-6">
              <div class="f">
                <div class="outl"> <img src="../public/images/1210.jpg" /></div>
                <div>
                  <p>高新技术企业</p>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-xs-6">
              <div class="f">
                <div class="outl"><img src="../public/images/1212.jpg" /></div>
                <div>
                  <p>国家科学技术进步奖二等奖</p>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-xs-6">
              <div class="f">
                <div class="outl"><img src="../public/images/1213.jpg" /></div>
                <div>
                  <p>广州市科技创新小巨人企业</p>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-xs-6">
              <div class="f">
                <div class="outl"><img src="../public/images/1211.jpg" /></div>
                <div>
                  <p>广东省科学技术奖励一等奖</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Swiper -->
    <div class="swiper-container visible-xs-block">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../public/images/1210.jpg" alt="">
          <p>高新技术企业</p>
        </div>
        <div class="swiper-slide"><img src="../public/images/1211.jpg" alt="">
          <p>广东省科学技术奖励一等奖</p>
        </div>
        <div class="swiper-slide"><img src="../public/images/1212.jpg" alt="">
          <p>国家科学技术进步奖二等奖</p>
        </div>
        <div class="swiper-slide"><img src="../public/images/1213.jpg" alt="">
          <p>广州市科技创新小巨人企业</p>
        </div>
      </div>
    </div>
  </div>
  {{include './footer.html'}}
  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
  <script src="../public/js/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 2,
      spaceBetween: 30,
      slidesPerGroup: 2,
      loop: true,
      loopFillGroupWithBlank: true,
      speed: 1000,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
    var $a = $(".navbar-nav>li>a");
    $a.attr("class", "");
    $("#01").attr("class", "activee");
  </script>
</body>

</html>