<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>技术团队-广东新创意科技有限公司</title>
  <link rel="shortcut icon" href="../public/images/logo.ico" />
  <link rel="stylesheet" href="../public/css/bootstrap.css" />
  <link rel="stylesheet" href="../public/css/bootstrap.css.map" />
  <link rel="stylesheet" href="../public/css/infom/infom3.css" />
  <!-- 头部样式 -->
  <link rel="stylesheet" href="../public/css/header/header.css">
  <!-- 脚步样式 -->
  <link rel="stylesheet" href="../public/css/footer/footer.css">
  <link rel="stylesheet" href="../public/css/iconfont2.css">
  <style></style>
</head>

<body>
  {{include './header.html'}}
  <div class="about4">
    <div class="container">
      <div class="row">
        <div class="uu">
          <ul>
            <li class="col-xs-6"><a href="about_2">公司简介</a></li>
            <li class="col-xs-6"><a href="about_3">企业文化</a></li>
            <li class="col-xs-6" style="background-color: #00509c;"><a href="about_4" style="color: white;">技术团队</a>
            </li>
            <li class="col-xs-6"><a href="about_5">资质荣誉</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="container">
        <div class="row">
          <div class="tittle hidden-xs">
            <p>专业技术研发团队</p>
          </div>
          <div class="intro">
            <div class="t1">
              <p>团队简介</p>
            </div>
            <div class="t0">
              <p>——</p>
            </div>
            <div class="t2">
              <p>
                广东新创意科技有限公司“热管制造技术及其应用团队”面向微电子/光电子/电力电子器件热控制系统设计与制造技术的重大需求，与华南理工大学机械与汽车工程学院李勇教授团队深度合作，强化对基础理论、核心工艺、关键设备的研究，以求从根上解决热管及其应用系统等新产品技术开发难题。目前已形成产学研协同发展的创新研究群体，在热管及均热板新型产品设计、高效生产工艺开发、自动化装备研制方面为产业发展带来新动力；完全贯通“研究开发－技术应用－市场推广”全过程。
              </p>
            </div>
            <div class="t1">
              <p>研究成果</p>
            </div>
            <div class="t0">
              <p>——</p>
            </div>
            <p>● 高性能热管</p>
            <p>● 热管高效生产装备</p>
            <div class="t2"></div>

            <div class="t1">
              <p>团队成员</p>
            </div>
            <div class="t0">
              <p>——</p>
            </div>
            <div class="t3">
              <div class="row">
                <div class="col-sm-3 col-xs-4 img"><img src="../public/images/ph0.jpg" /></div>
                <div class="col-sm-9 col-xs-12 font1">
                  <p>李勇 教授</p>
                  <p><br></p>
                  <p>● 工作背景</p>
                  <p> &nbsp;&nbsp;&nbsp;2002.07-至今&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 华南理工大学
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;讲师/副教授/教授、博导</p>
                  <p>&nbsp;&nbsp;&nbsp;2014.01-2016.01 &nbsp;&nbsp;&nbsp;英国诺丁汉大学 &nbsp;&nbsp;&nbsp;欧盟玛丽居里研究员</p>
                  <p>● 主要研究方向</p>
                  <p>
                    &nbsp;&nbsp;&nbsp;表面热功能结构及器件、精密制造技术及自动化装备研发：开发的高性能大直径热管应用于中国及日本高铁IGBT芯片热控制系统
                  </p>
                  <p>
                    中；针对IDC及电动汽车动力电池热管理，提出热管+液冷的散热方案
                  </p>
                  <p>● 主要荣誉及获奖</p>
                  <p>
                    &nbsp;&nbsp;&nbsp;2019年&nbsp;&nbsp;&nbsp;
                    获国家表彰奖励办公室颁发“庆祝中华人民共和国成立70周年”纪念章；
                  </p>
                  <p>
                    &nbsp;&nbsp;&nbsp;2016年&nbsp;&nbsp;
                    《复杂表面热功能结构形貌特征设计与可控制关键技术》国家科技进步二等奖
                  </p>
                  <p>
                    &nbsp;&nbsp;&nbsp; 发表SCI/EI论文30余篇，授权专利70余件，主编教材2部，培养硕、博士近40人。
                  </p>
                  <p>
                    ● 学术兼职：担任《Applied Thermal
                    Engineering》,《International Journal of Heat and Mass
                    Transfer》,《Energy
                  </p>
                  <p>Conversion and Management》等国际期刊的审稿人。</p>
                </div>
              </div>
            </div>
            <div class="t2"></div>
            <div class="imgs">
              <div class=" row">
                <div class="col-sm-3 col-xs-6">
                  <div class="f">
                    <img src="../public/images/ph1.jpg" />
                    <!-- class="col-sm-3 col-xs-6" -->
                    <div> <span>周文杰博士</span></div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div class="f">
                    <img src="../public/images/ph2.jpg" />
                    <div> <span>黄光文博士</span></div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div class="f">
                    <img src="../public/images/ph3.jpg" />
                    <div> <span>何柏林博士</span></div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div class="f">
                    <img src="../public/images/ph4.jpg" />
                    <div> <span>陈钊书博士</span></div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {{include './footer.html'}}
  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
  <script src="../public/js/header1.js"></script>
</body>
<script>
  var $a = $(".navbar-nav>li>a");
  $a.attr("class", "");
  $("#01").attr("class", "activee");
</script>

</html>