<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>职位招聘-广东新创意科技有限公司</title>
    <link rel="shortcut icon" href="../public/images/logo.ico" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/header/header.css">
    <link rel="stylesheet" href="../public/css/footer/footer.css">
    <link rel="stylesheet" href="../public/css/iconfont2.css">
    <link rel="stylesheet" href="../public/css/contact/contactst.css">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
    </style>

</head>

<body>
    {{include './header.html'}}
    <div class="contactst">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 top">
                    <ul>
                        <li class="col-xs-6 a1"><a href="contactus2">联系我们</a></li>
                        <li class="col-xs-6 a2"><a href="contactSt">职业招聘</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="but conactive">
                    <div class="data col-xs-12 ">
                        <div class="text col-xs-11">
                            <span>生产普工</span>
                        </div>
                        <div class="sign col-xs-1">
                            <div class="img">
                                <img src="../public/images/add.png" alt="" class="i1">
                                <img src="../public/images/sub.png" alt="" class="i2">
                            </div>
                        </div>
                    </div>
                    <div class="detail" wid="302" wid2="405">
                        <div class="row">
                            <div class="col-xs-12">
                                <span>
                                    <p>职位性质：全职</p>
                                    <p>性别：不限</p>
                                    <p>学历要求：不限</p>
                                    <p>工作经验：不限</p>
                                    <p>岗位职责：负责产线生产</p>
                                    <p><br /></p>
                                    <p>工作时间：每周六天</p>
                                    <p>职位月薪：3-5K面议。底薪+全勤奖+住房补贴+绩效奖等，包吃包住，加班费另计。</p>
                                    <p> 工作地点：肇庆市四会大旺兴隆一街2号荣仕宝科技园A栋1-2楼</p>
                                    <p>联系人：叶经理</p>
                                    <p>电话：+8613076733969</p>
                                </span>
                                <div class="send">
                                    <a href="../index">
                                        <input type="button" value="投递简历">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="but">
                    <div class="data col-xs-12 ">
                        <div class="text col-xs-11">
                            <span>仓管物料员</span>
                        </div>
                        <div class="sign col-xs-1">
                            <div class="img">
                                <img src="../public/images/add.png" alt="" class="i1">
                                <img src="../public/images/sub.png" alt="" class="i2">
                            </div>
                        </div>
                    </div>
                    <div class="detail" wid="340" wid2="455">
                        <div class="row">
                            <div class="col-xs-12">
                                <span>
                                    <p><strong>工作内容：</strong></p>
                                    <p>1、负责仓库的收、发货；</p>
                                    <p>2、完成上级交代的其他工作。</p>
                                    <p>薪资：4.5K-5K，购买社保，全勤奖，房补，包吃包住</p>
                                    <p>工作地点：肇庆市四会大旺兴隆一街2号荣仕宝科技园A栋1-2楼</p>
                                    <p><br /></p>
                                    <p><strong>岗位要求：</strong></p>
                                    <p>1、20-40岁，工作认真负责，能吃苦耐劳，责任心强；</p>
                                    <p>2、熟悉仓库流程，有制造业仓库工作经验者优先考虑。</p>
                                    <p>3、初中及以上学历，懂开叉车者优先。</p>
                                    <p>PS：工作中经常需要进行物料称重，力气需较好。</p>
                                    <p>简历投递至邮箱(luozh@863cn.com)</p>
                                    <p><br /></p>
                                </span>
                                <div class="send">
                                    <a href="../index">
                                        <input type="button" value="投递简历">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="but">
                    <div class="data col-xs-12 ">
                        <div class="text col-xs-11">
                            <span>研发工程师</span>
                        </div>
                        <div class="sign col-xs-1">
                            <div class="img">
                                <img src="../public/images/add.png" alt="" class="i1">
                                <img src="../public/images/sub.png" alt="" class="i2">
                            </div>
                        </div>
                    </div>
                    <div class="detail" wid="460" wid2="580">
                        <div class="row">
                            <div class="col-xs-12">
                                <span>
                                    <p><strong>任职要求：</strong></p>
                                    <p>1、机械制造、工程热物理等专业的全日制本科及以上学历，学位；</p>
                                    <p>2、具备制造工厂自动化/数字化/智能制造成功实践经验与深厚专业能力；</p>
                                    <p>3、一年及以上研发制造工作经验，专业能力优秀的应届生可优先录用；</p>
                                    <p>3、熟练掌握Autocad,Solidworks,Labview
                                        等专业软件的操作和工作运用；</p>
                                    <p>4、具备良好的洞察能力，创新精神，跨部门沟通协调能力。</p>
                                    <p><br /></p>
                                    <div><strong>工作内容：</strong></div>
                                    <div>热管的智能制造设备及生产工艺研发工作，</div>
                                    <p>工作时间：六天工作制，周日休息，介意者勿投递简历。</p>
                                    <p>工作地点：肇庆市四会大旺兴隆一街2号荣仕宝科技园A栋1-2楼</p>
                                    <p><br /></p>
                                    <p><strong>福利待遇：</strong></p>
                                    <p>1、重点部门，储备干部，大牛带队，与华南理工大学团队共同开展研发工作；
                                    </p>
                                    <p>2、薪资6K-8K，面议，购买社保、全勤奖、房补等。</p>
                                    <p>3、免费提供工作餐，公司食堂，统一配餐，干净美味；</p>
                                    <p>
                                        4、免费提供住宿，独立阳台和卫浴，环境优美，临近各类超市和食肆，距离公司步行10分钟</p>
                                    <p>简历投递至邮箱(luozh@863cn.com)</p>
                                </span>
                                <div class="send">
                                    <a href="../index">
                                        <input type="button" value="投递简历">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="but">
                    <div class="data col-xs-12 ">
                        <div class="text col-xs-11">
                            <span>工程部技术人员</span>
                        </div>
                        <div class="sign col-xs-1">
                            <div class="img">
                                <img src="../public/images/add.png" alt="" class="i1">
                                <img src="../public/images/sub.png" alt="" class="i2">
                            </div>
                        </div>
                    </div>
                    <div class="detail" wid="300" wid2="405">
                        <div class="row">
                            <div class="col-xs-12">
                                <span>
                                    <p>职位性质：全职</p>
                                    <p>性别：男性</p>
                                    <p>学历要求：中专以上，动手能力强，计算机、机械、机电、数控、电子等相关专业者优先；</p>
                                    <p>工作经验：应届毕业生，有工作经验更佳</p>
                                    <p>岗位职责：负责样品制作和机械维护</p>
                                    <p><br /></p>
                                    <p>工作时间：每周六天</p>
                                    <p>职位月薪：5-6K，面议。底薪+全勤奖+住房补贴+绩效奖等，包吃包住。</p>
                                    <p>工作地点：肇庆市四会大旺兴隆一街2号荣仕宝科技园A栋1-2楼</p>
                                    <p>联系人：叶经理</p>
                                    <p>电话：+8613076733969</p>
                                </span>
                                <div class="send">
                                    <a href="../index">
                                        <input type="button" value="投递简历">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="but">
                    <div class="data col-xs-12 ">
                        <div class="text col-xs-11">
                            <span>品质管理</span>
                        </div>
                        <div class="sign col-xs-1">
                            <div class="img">
                                <img src="../public/images/add.png" alt="" class="i1">
                                <img src="../public/images/sub.png" alt="" class="i2">
                            </div>
                        </div>
                    </div>
                    <div class="detail" wid="620" wid2="780">
                        <div class="row">
                            <div class="col-xs-12">
                                <span>
                                    <p>职位性质：全职</p>
                                    <p>性别：男性</p>
                                    <p>学历要求：中专以上，有一定管理经验，善于沟通；</p>
                                    <p>工作经验：工作经验2年以上；就读相关专业优先；有热管厂工作经验优先；</p>
                                    <p><br /></p>
                                    <p><strong>岗位职责：</strong></p>
                                    <ol class=" list-paddingleft-2" style="list-style-type: decimal;">
                                        <li>
                                            <p>负责品质控制：<br />1) 负责为来料检查/线上检查/成品检查提供相应的标准和方法，以确保品检员明确检查要求；<br />2)
                                                组织IQC、PQC、QA以及测试员、组长按要求对产品进行检查，以确保只有合格的产品才能提交给客户；<br />3)
                                                组织记录、报告、标识、评审跟进处理不良品，以防止不良品的非预期使用；<br />4)
                                                负责处理客户投诉并提出因质量问题所需的纠正/预防措施，并跟进落实；<br />5)
                                                协助工程部进行样品确认，协助生产部、采购部对供应商的评审和考核；</p>
                                        </li>
                                        <li>
                                            <p>负责管理检测仪器：<br />1）
                                                负责搞好检测仪器的校验和管理；<br />3.负责质量管理系统的维护，确保其持续有效，不断改进：<br />1）计划和组织管理评审；<br />2）计划和主持内部质量体系审核，向总经理报告质量体系的运作情况；<br />3）组织并公布质量目标考评；<br />4.负责对品检人员的培训，以提高其检查水平；<br />5.协调好品质部的有关工作，对总经理负责。
                                            </p>
                                        </li>
                                    </ol>
                                    <p> </p>
                                    <p>工作时间：每周六天</p>
                                    <p>职位月薪：5-6K，面议。底薪+全勤奖+住房补贴+绩效奖等，包吃包住</p>
                                    <p> 工作地点：肇庆市四会大旺兴隆一街2号荣仕宝科技园A栋1-2楼</p>
                                    <p>联系人：叶经理</p>
                                    <p>电话：+8613076733969</p>
                                </span>
                                <div class="send">
                                    <a href="../index">
                                        <input type="button" value="投递简历">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="butt hidden-xs">
                <ul>
                    <li><a type="javascrip">共1页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#" id="last">上一页</a></li>
                    <li><a href="#" class="act">1</a></li>
                    <li><a href="#" id="next">下一页</a></li>
                    <li><a href="#">尾页</a></li>
                </ul>
            </div>
        </div>
    </div>
    {{include './footer.html'}}
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
    <script src="../public/js/header1.js"></script>
</body>
<script>
    $(function () {
        var mql = window.matchMedia("(min-width: 768px)");//mql = media query list
        function mqCallback(mql) {
            if (mql.matches) {
                $(".but .data").unbind();
                $(".but .data").click(function () {
                    if ($(this).parent().attr("class").length > 5) {
                        $(".conactive .detail").animate({ "height": "0" }, 500, "linear",function () {
                            $(".but").attr("class", "but");
                        })

                    } else {
                        $(".conactive .detail").animate({ "height": "0" }, 500, "linear",function () {
                            $(this).parent().attr("class", "but");
                        })
                        $(".but .detail").css("height", "0")
                        $(this).parent().addClass("conactive");
                        var w = $(this).next().attr("wid2");
                        $(".conactive .detail").animate({ "height": w }, 500,"linear",)
                    }
                })
            } else {
                $(".but .data").unbind();
                $(".but .data").click(function () {
                    if ($(this).parent().attr("class").length > 5) {
                        $(".conactive .detail").animate({ "height": "0" }, 500, "linear",function () {
                            $(".but").attr("class", "but");
                        })

                    } else {
                        $(".conactive .detail").animate({ "height": "0" }, 500,"linear", function () {
                            $(this).parent().attr("class", "but");
                        })
                        $(".but .detail").css("height", "0")
                        $(this).parent().addClass("conactive");
                        var w = $(this).next().attr("wid");
                        $(".conactive .detail").animate({ "height": w }, 500,"linear",)
                    }
                })
            }
        }
        mqCallback(mql);
        mql.addListener(mqCallback);
        var $a = $(".navbar-nav>li>a");
        $a.attr("class", "");
        $("#05").attr("class", "activee");
    })
</script>

</html>