<nav class='navbar header-top navbar-fixed-top'>
    <div class='container'>
        <div class='row'>
            <div class='navbar-header col-sm-4 col-md-5 col-lg-5'>
                <button type='button' class='navbar-toggle collapsed ' data-toggle='collapse'
                    data-target='#bs-example-navbar-collapse-1' aria-expanded='false'
                    href='#bs-example-navbar-collapse-1'>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' href='../'><img src='../public/images/logo.png'></a>
            </div>
            <div class='collapse navbar-collapse dh' id='bs-example-navbar-collapse-1'>
                <div class='left col-sm-8 col-md-6 col-lg-6 '>
                    <ul class='nav navbar-nav'>
                        <li>
                            <a href='../about_1' class='activee' id="01"><span>关于我们</span>
                            </a>
                            <ul>
                                <li><a href='../about_2'>公司简介</a></li>
                                <li><a href='../about_3'>企业文化</a></li>
                                <li><a href='../about_4'>技术团队</a></li>
                                <li><a href='../about_5'>资质荣誉</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href='../news/newsStd' id="02"><span>新闻资讯</span>
                            </a>
                            <ul>
                                <li><a href='../news/newsStd_1'>公司新闻</a></li>
                                <li><a href='../news/newsStd_2'>行业资讯</a></li>
                                <li><a href='../news/newsStd_3'>媒体报道</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href='../pro/product_cen' id="03"><span>产品中心</span></a>
                            <ul>
                                <li><a href='../pro/product_cen1'>超薄热管</a></li>
                                <li><a href='../pro/product_cen2'>常规热管</a></li>
                                <li><a href='../pro/product_cen3' class='a1'>均热管VC</a></li>
                                <li><a href='../pro/product_cen4'>方形热管</a></li>
                                <li><a href='../pro/product_cen5' class='a2'>大管径热管</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href='../news/clients' id="04"><span>微热管技术</span></a>
                            <ul>
                                <li><a href='../news/clients1'>相关论著</a></li>
                                <li><a href='../news/clients2' class='a3'>热管散热方案</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href='../contactus1' id="05"><span>联系我们</span></a>
                            <ul>
                                <li><a href='../contactus2'>联系我们</a></li>
                                <li><a href='../contactSt'>职位招聘</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class='right col-lg-1 col-lg-1 hidden-sm'>
                    <img src='../public/images/en.png' alt=''>
                    <a href='#'>EN</a>
                </div>
            </div>
        </div>
    </div>

</nav>
<div class='banner'>
    <div class='container-fluid'>
        <img class='hid1 visible-xs-block center-block' src='{{result.pic2}}' alt=''>
        <img class='hidden-xs hid' src='{{result.pic1}}' alt=''>
    </div>
</div>
<div class='footer1 hidden-xs'>
    <div class='container place'>
        您当前位置：<a href='../'>首页</a>
        {{each result['nav'] as value}}
            <span class='glyphicon glyphicon-menu-right'></span><a href='{{value.site}}'>{{value.dir}}</a>
        {{/each}}
    </div>
</div>