body{
    height: 2000px;
}
    #l{
        width: 110px;
        height: 40px;
        background-color: #00509c;
        position: absolute;
        text-align: center;
        line-height: 37px;
        color: seashell;
        top: 550px;
        left: 650px;
    }
    #l1{
        
            width: 110px;
            height: 40px;
            background-color: silver;
            position: absolute;
            text-align: center;
            line-height: 37px;
            color: seashell;
            top: 550px;
            left: 790px;
       
    }
    #l2{
        background-image: url(../images/项目精灵图.PNG) ;
        height: 407px;
        width: 695px;
        position: absolute;
        top: 650px;
        left: 70px;
    }
    #l3{
        position: absolute;
        top:660px;
        left: 790px;
        font-size: 25px;
    }
    #ll{
        position: absolute;
        top:720px;
        left: 790px;
        width: 600px;
        height: 38px;
    }
    #ll1{
        position: absolute;
        top:780px;
        left: 790px;
        width: 600px;
        height: 38px;
    }
    #ll2{
        position: absolute;
        top:840px;
        left: 790px;
        width: 600px;
        height: 38px;
    }
    #ll3{
        position: absolute;
        top:900px;
        left: 790px;
        width: 600px;
        height: 80px;
      }
      #ll4{
        width: 180px;
        height: 40px;
        background-color: #00509c;
        position: absolute;
        text-align: center;
        line-height: 37px;
        color: seashell;
        top: 1020px;
        left: 790px;
    }
    #dituContent{
        position: absolute;
        left: 170px;
        top: 1100px;
    }
    a{
        text-decoration:none;
        color: white;
    }
    a:link{
        text-decoration: none;
    }
   